* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f6f8ff;
  --logo-color: #222731;
  --mode-icon-color: #697c9a;
  --bg-search-color: #fefefe;
  --placeholder-color: #4b6a9b;
  --input-text-color: #222731;
  --bg-profile-color: #fefefe;
  --profile-name-color: #2b3442;
  --profile-date-color: #697c9a;
  --description-title-text-icon-color: #4b6a9b;
  --bg-statistics-color: #f6f8ff;
  --statistics-number-color: #2b3442;
}

.dark {
  --bg-color: #141d2f;
  --logo-color: #fff;
  --mode-icon-color: #fff;
  --bg-search-color: #1e2a47;
  --placeholder-color: #697c9a; /*não é essa cor, mas fica melhor*/
  --input-text-color: #fff;
  --bg-profile-color: #1e2a47;
  --profile-name-color: #fff;
  --profile-date-color: #fff;
  --description-title-text-icon-color: #fff;
  --bg-statistics-color: #141d2f;
  --statistics-number-color: #fff;
}

body {
  background-color: var(--bg-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */
.header {
  max-width: 730px;
  width: 100%;
  margin-bottom: 35px;

  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-family: "Space Mono", monospace;
  color: var(--logo-color);
  font-size: 26px;
  font-weight: 700;
}

.header__mode-icon {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icon path {
  fill: var(--mode-icon-color);
}

.header__mode {
  font-family: "Space Mono", monospace;
  color: var(--mode-icon-color);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

/* MAIN */
/* SEARCH BAR */
.main {
  max-width: 730px;
  width: 100%;
}

.search {
  display: flex;
  border-radius: 15px;
  background-color: var(--bg-search-color);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  padding: 10px;
  padding-left: 22px;
  gap: 24px;
  margin-bottom: 38px;
}

.search__icon-input {
  display: flex;
  gap: 24px;
  align-items: center;
  flex: 1;
}

.search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  background-color: var(--bg-search-color);
  border: none;
  color: var(--input-text-color);
  line-height: 49px;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  width: 100%;
}

.search__input::placeholder {
  color: var(--placeholder-color);
}

.search__button {
  border-radius: 10px;
  background: #0079ff;
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 13px 24px;
}

/* PROFILE */
.profile {
  padding: 48px;
  border-radius: 15px;
  background-color: var(--bg-profile-color);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);

  display: flex;
  gap: 37px;
}

.profile__image {
  width: 117px;
  height: 117px;
  border-radius: 117px;
}

.profile__name-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

.profile__name {
  color: var(--profile-name-color);
  font-family: "Space Mono", monospace;
  font-size: 26px;
  font-weight: 700;
}

.profile__date {
  color: var(--profile-date-color);
  font-family: "Space Mono", monospace;
  font-size: 15px;
}

.profile__link {
  color: #0079ff;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 180%;
}

.profile__description {
  color: var(--description-title-text-icon-color);
  font-family: "Space Mono", monospace;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 32px;
}

.statistics {
  border-radius: 10px;
  background-color: var(--bg-statistics-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 85px;
  margin-bottom: 37px;
  padding: 15px 32px 17px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.statistics__title {
  color: var(--description-title-text-icon-color);
  font-family: "Space Mono", monospace;
  font-size: 13px;
  font-weight: 400;
}

.statistics__number {
  color: var(--statistics-number-color);
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: 700;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 55px;
}

.social-media__text {
  color: var(--description-title-text-icon-color);
  font-family: "Space Mono", monospace;
  font-size: 15px;
  padding-left: 16px;
  text-decoration: none;
}

.social-media__icon path {
  fill: var(--description-title-text-icon-color);
}

.social-media__text--small-padding {
  padding-left: 10px;
}

.social-media__item--disabled {
  opacity: 0.5;
}
