* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

:root {
  --bg-color: #f6f8ff;
  --logo-color: #222731;
  --mode-icon-color: #697c9a;
  --bg-search-color: #fefefe;
  --placeholder-color: #4b6a9b;
  --input-text-color: #222731;
  --bg-profile-color: #fefefe;
  --profile-name-color: #2b3442;
  --profile-date-color: #697c9a;
  --description-title-text-icon-color: #4b6a9b;
  --bg-statistics-color: #f6f8ff;
  --statistics-number-color: #2b3442;
  --hover-mode: #222731;
}

.dark {
  --bg-color: #141d2f;
  --logo-color: #fff;
  --mode-icon-color: #fff;
  --bg-search-color: #1e2a47;
  --placeholder-color: #697c9a; /*não é essa cor, mas fica melhor*/
  --input-text-color: #fff;
  --bg-profile-color: #1e2a47;
  --profile-name-color: #fff;
  --profile-date-color: #fff;
  --description-title-text-icon-color: #fff;
  --bg-statistics-color: #141d2f;
  --statistics-number-color: #fff;
  --hover-mode: #90a4d4;
}

body {
  background-color: var(--bg-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 5px 0;
}

/* HEADER */
.header {
  max-width: 730px;
  width: 100%;
  margin-bottom: 35px;

  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-family: "Space Mono", monospace;
  color: var(--logo-color);
  font-size: 26px;
  font-weight: 700;
}

.header__mode-icon {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icon path {
  fill: var(--mode-icon-color);
}

.header__icon path:hover {
  fill: var(--hover-mode);
}

.header__mode {
  font-family: "Space Mono", monospace;
  color: var(--mode-icon-color);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.header__mode:hover {
  color: var(--hover-mode);
}

/* MAIN */
/* SEARCH BAR */
.main {
  max-width: 730px;
  width: 100%;
}

.search {
  display: flex;
  border-radius: 15px;
  background-color: var(--bg-search-color);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  padding: 10px;
  padding-left: 22px;
  gap: 24px;
  margin-bottom: 38px;
}

.search__icon-input {
  display: flex;
  gap: 24px;
  align-items: center;
  flex: 1;
}

.search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  background-color: var(--bg-search-color);
  border: none;
  color: var(--input-text-color);
  line-height: 49px;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  width: 100%;
}

.search__input::placeholder {
  color: var(--placeholder-color);
}

.search__button {
  border-radius: 10px;
  background-color: #0079ff;
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 13px 24px;
}

.search__button:hover {
  background-color: #60abff;
}

/* PROFILE */
.profile {
  padding: 48px;
  border-radius: 15px;
  background-color: var(--bg-profile-color);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);

  display: flex;
  gap: 37px;
}

.profile__image {
  width: 117px;
  height: 117px;
  border-radius: 117px;
}

.profile__image-desktop {
  display: none;
}

.profile__name {
  color: var(--profile-name-color);
  font-family: "Space Mono", monospace;
  font-size: 26px;
  font-weight: 700;
  width: 50%;
}

.profile__date {
  color: var(--profile-date-color);
  font-family: "Space Mono", monospace;
  font-size: 15px;
  text-align: right;
  width: 50%;
}

.profile__link {
  color: #0079ff;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 170%;
}

.profile__name-date-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile__description {
  color: var(--description-title-text-icon-color);
  font-family: "Space Mono", monospace;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 32px;
}

.statistics {
  border-radius: 10px;
  background-color: var(--bg-statistics-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 85px;
  margin-bottom: 37px;
  padding: 15px 32px 17px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 20px;
}

.statistics__title {
  color: var(--description-title-text-icon-color);
  font-family: "Space Mono", monospace;
  font-size: 13px;
  font-weight: 400;
}

.statistics__number {
  color: var(--statistics-number-color);
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: 700;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 55px;
}

.social-media__box--disabled {
  opacity: 0.5;
}

.social-media__text {
  color: var(--description-title-text-icon-color);
  font-family: "Space Mono", monospace;
  font-size: 15px;
  padding-left: 16px;
  text-decoration: none;
}

.social-media__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.social-media__box {
  display: flex;
  align-items: center;
}

.social-media__icon path {
  fill: var(--description-title-text-icon-color);
}

.social-media__text--underline:hover {
  text-decoration: underline;
}

/* RESPONSIVO TABLET */

@media (max-width: 800px) {
  .header,
  .main {
    max-width: 580px;
    width: 100%;
  }
  .search {
    margin-bottom: 24px;
  }
  .profile {
    padding: 40px;
  }
  .profile__image {
    display: none;
  }
  .profile__image-desktop {
    display: block;
    width: 117px;
    height: 117px;
    border-radius: 117px;
  }
  .profile__infos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 37px;
    margin-bottom: 24px;
  }
  .profile__name {
    order: 1;
    width: 100%;
  }
  .profile__link {
    order: 2;
    width: 100%;
    line-height: normal;
    margin: 0;
    padding-bottom: 4px;
  }
  .profile__date {
    text-align: left;
    width: 100%;
    order: 3;
  }
  .statistics {
    margin-bottom: 30px;
  }
}

/* RESPONSIVO MOBILE */

@media (max-width: 650px) {
  .header,
  .main {
    max-width: 327px;
    width: 100%;
  }
  .search {
    padding: 7px 7px 7px 16px;
    margin-bottom: 16px;
    gap: 7px;
  }
  .search__input {
    font-size: 13px;
  }
  .search__icon-input {
    gap: 9px;
  }
  .search__icon svg {
    width: 20px;
    height: 20px;
  }
  .search__button {
    padding: 12.5px 16px;
    font-size: 14px;
  }
  .profile {
    padding: 32px 24px;
  }
  .profile__text {
    max-width: 279px;
  }
  .profile__link {
    padding-bottom: 6px;
  }
  .profile__image-desktop {
    width: 70px;
    height: 70px;
  }
  .profile__infos {
    gap: 19.5px;
    margin-bottom: 33px;
  }
  .profile__name {
    font-size: 16px;
  }
  .profile__link,
  .profile__date {
    font-size: 13px;
  }
  .profile__description {
    font-size: 13px;
    margin-bottom: 23px;
  }
  .statistics {
    padding: 18.5px 14.5px;
    gap: 8px 10px;
    margin-bottom: 24px;
  }
  .statistics__title {
    font-size: 11px;
    text-align: center;
  }
  .statistics__number {
    font-size: 16px;
    margin: 0 auto;
  }
  .social-media {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .social-media__text {
    font-size: 13px;
    padding-left: 13px;
  }
  .social-media__box--local {
    order: 1;
  }
  .social-media__box--disabled {
    order: 3;
  }
  .social-media__box--gitblog {
    order: 2;
  }
  .social-media__box--git {
    order: 4;
  }
}
